# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/esp32-bluetooth-proxy-2ea83c.yaml
/.vscode/
/f1pitboard.yaml
/trash/
images/hungaroring.png
images/f1_logo.png
images/f1_test.png
fonts/TitilliumWeb-Regular.ttf
fonts/TitilliumWeb-Light.ttf
fonts/TitilliumWeb-ExtraLight.ttf
fonts/TitilliumWeb-Bold.ttf
